<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @roommate.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @roommate.zipcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @roommate.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @roommate.age %>
</p>

<p>
  <strong>Min perferr age:</strong>
  <%= @roommate.min_perferr_age %>
</p>

<p>
  <strong>Max pref age:</strong>
  <%= @roommate.max_pref_age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @roommate.gender %>
</p>

<p>
  <strong>Gender pref:</strong>
  <%= @roommate.gender_pref %>
</p>

<p>
  <strong>Language:</strong>
  <%= @roommate.language %>
</p>

<p>
  <strong>Desire date:</strong>
  <%= @roommate.desire_date %>
</p>

<p>
  <strong>Look for:</strong>
  <%= @roommate.look_for %>
</p>

<p>
  <strong>Spend:</strong>
  <%= @roommate.spend %>
</p>

<p>
  <strong>Lease type:</strong>
  <%= @roommate.lease_type %>
</p>

<p>
  <strong>Bedroom share:</strong>
  <%= @roommate.bedroom_share %>
</p>

<p>
  <strong>Room look:</strong>
  <%= @roommate.room_look %>
</p>

<p>
  <strong>Cleanlines:</strong>
  <%= @roommate.cleanlines %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @roommate.pets %>
</p>

<p>
  <strong>Roommates pets:</strong>
  <%= @roommate.roommates_pets %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @roommate.smoker %>
</p>

<p>
  <strong>Roommate smoke:</strong>
  <%= @roommate.roommate_smoke %>
</p>

<p>
  <strong>Often guests:</strong>
  <%= @roommate.often_guests %>
</p>

<p>
  <strong>Roommate guests:</strong>
  <%= @roommate.roommate_guests %>
</p>

<p>
  <strong>Roommate friend:</strong>
  <%= @roommate.roommate_friend %>
</p>

<p>
  <strong>Student:</strong>
  <%= @roommate.student %>
</p>

<p>
  <strong>Job:</strong>
  <%= @roommate.job %>
</p>

<p>
  <strong>Wake up:</strong>
  <%= @roommate.wake_up %>
</p>

<p>
  <strong>Sleep time:</strong>
  <%= @roommate.sleep_time %>
</p>

<p>
  <strong>Roommate same sch:</strong>
  <%= @roommate.roommate_same_sch %>
</p>

<p>
  <strong>Daily routine:</strong>
  <%= @roommate.daily_routine %>
</p>

<p>
  <strong>Triggers:</strong>
  <%= @roommate.triggers %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roommate.description %>
</p>

<p>
  <strong>Roommate looking for:</strong>
  <%= @roommate.roommate_looking_for %>
</p>

<p>
  <strong>Clarify:</strong>
  <%= @roommate.clarify %>
</p>

<p>
  <strong>Forget something:</strong>
  <%= @roommate.forget_something %>
</p>

<%= link_to 'Edit', edit_roommate_path(@roommate) %> |
<%= link_to 'Back', roommates_path %>
