<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @friend.zipcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @friend.age %>
</p>

<p>
  <strong>Min perferr age:</strong>
  <%= @friend.min_perferr_age %>
</p>

<p>
  <strong>Max pref age:</strong>
  <%= @friend.max_pref_age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @friend.gender %>
</p>

<p>
  <strong>Gender pref:</strong>
  <%= @friend.gender_pref %>
</p>

<p>
  <strong>Support:</strong>
  <%= @friend.support %>
</p>

<p>
  <strong>Friend level:</strong>
  <%= @friend.friend_level %>
</p>

<p>
  <strong>Look for:</strong>
  <%= @friend.look_for %>
</p>

<p>
  <strong>Languauage:</strong>
  <%= @friend.languauage %>
</p>

<p>
  <strong>Scheduled:</strong>
  <%= @friend.scheduled %>
</p>

<p>
  <strong>Look friend:</strong>
  <%= @friend.look_friend %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @friend.interests %>
</p>

<p>
  <strong>Student:</strong>
  <%= @friend.student %>
</p>

<p>
  <strong>Job:</strong>
  <%= @friend.job %>
</p>

<p>
  <strong>Daily routine:</strong>
  <%= @friend.daily_routine %>
</p>

<p>
  <strong>Triggers:</strong>
  <%= @friend.triggers %>
</p>

<p>
  <strong>Description:</strong>
  <%= @friend.description %>
</p>

<p>
  <strong>Clarify:</strong>
  <%= @friend.clarify %>
</p>

<p>
  <strong>Forget something:</strong>
  <%= @friend.forget_something %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
